services:
  plato-builder:
    build:
      context: ./plato
      dockerfile: ../builder.Dockerfile
    image: local-plato:builder
    volumes:
      - ./dist:/usr/src/plato/dist
      - ./logs:/usr/src/plato/logs
    develop:
      watch:
        - action: sync+restart
          path: ./plato/crates/
          target: /usr/src/plato/crates/

  plato-emulator:
    image: ghcr.io/randomnoise/plato-emulator:latest
    devices:
      - /dev/dri/card0
    environment:
      - DISPLAY=unix${DISPLAY}
      - RUST_LOG=debug
    network_mode: "host"
    volumes:
      - ~/.Xauthority:/root/.Xauthority
      - /etc/localtime:/etc/localtime:ro
      - ./logs:/usr/src/plato/logs
      # WSLg reference: github.com/microsoft/wslg/blob/d14b392/samples/container/Containers.md
      - /tmp/.X11-unix:/tmp/.X11-unix
    develop:
      watch:
        - action: sync+restart
          path: ./plato/crates/
          target: /usr/src/plato/crates/
