name: Docker CI

on:
  push:
    branches: ci-run-*

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Build and push Docker image
      id: build-and-push
      uses: docker/build-push-action@v6
      with:
        file: emulator.Dockerfile
        context: ./plato

    - name: Check image layers
      id: check-layers
      run: |
        set -eux -o pipefail
        docker images
